*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 1;
}
.container{
    margin: 25vh;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    padding: 10px;
}

img{
    height: 300px;
}
.gif{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}